{% extends "base.html" %}
{% load staticfiles %}
{% block page-class %}home{% endblock %}
{% block page-title %}GALLERY{% endblock %}
{% block no-header %}show-header{% endblock %}

{% block page_css %}<link rel="stylesheet" href="{% static 'happenings/css/calendar.css' %}">{% endblock %}
{% block extra_css %}{% endblock %}


{% block content %}{% endblock content %}
<script src="{% static 'happenings/js/calendar.js' %}"></script>
{% block extra_js %}
    <script>
        EventController.init();
    </script>
{% endblock %}

