{% load weekday %}
{% load humanize %}
<h1> Upcoming Events</h1>
<div class="event-list">
    {% for d, event in upcoming_events %}
        {% with colors=event.get_colors %}
            <div class="row"
                     style="margin-right:0;background:{{ colors.0 }}; color:{{ colors.1 }};border-bottom:1px solid #efefef">
                    <div class="col-sm-6">
                        <div class="event-poster" style="background-image:url('/static/{{ event.poster }}')"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="event-title">
                            <a href="{{ event.get_absolute_url }}" style="color:{{ colors.1 }};">
                                <h5>{{ event.title }}</h5>
                            </a>
                            <hr style="border-color:black"/>
                        </div>

                        <div class="event-date">
                            <div class="widget-month">


                                {% weekday current.year current.month_num day full=True %}
                                {{ current.month }}
                                {{ day|ordinal }},
                                {{ current.year }}

                            </div>
                        </div>
                        <p class="event-description">
                        <p>


                            {{ event.description }}

                        </p>
                    </div>

                </div>
        {% endwith %}
    {% empty %}
    Oops.. No events!
    {% endfor %}
</div>
