//BUTTONS
.btn{

}

.btn-default{

}

.btn-primary{
    margin-top: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
  border:none;
    border-color: transparent;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}


.btn-link{
  font-size:14px !important;
}


.btn-success{

}

.btn-info{

}

.btn-warning{

}

.btn-danger{

}

.btn-link{
  text-transform: uppercase;
  color: #000;
  font-size: 10px;
  font-weight: bold;
}