.listen{
  background-color:#e6e6e6;
      padding-top: 10px;
}
.viewport-listen {
    height: 83vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 25px;
  background-origin: content-box;
      padding-right: 0;
}
.listen-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.listen-row > [class*='col-'] {

  flex-direction: column;
}
.carousel{
  background-color:black;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #000;
    border: none;
    /* border-radius: 4px; */
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.listen-title{
          margin: 0 15px 45px 0px;
    border-bottom: 1px solid black;
    position: relative;
  h1{
    font-size:24px;
    font-weight: bold;
    text-transform:uppercase;

  }
  p{

  }
  .watch-title-logo{
    padding-right:0 !important;
        position: absolute;
    bottom: -1px;
    right: 0;
  }
}

.listen-title-content{
  padding: 0 0 15px 0;
}