.listen{
  background-color:#e6e6e6;
}
.viewport-listen {
    height: 93vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 25px;
  background-origin: content-box;
  padding-left:25px;
}