.watch-logo-container{
      border: 1px solid black;
    padding: 15px;
    width: 135px;
    height: 135px;
  text-align: center;
  .watch-date-line{
    border-color: #000;
  }
  img, svg{
        width: 50px;
  }
}

.watch-copy{
  font-size:12px;
margin:0;
  .watch-copy-body{

    min-height: 250px;
    max-width: 900px;
    margin: 0 auto;
    float: none;
    padding: 0 !important;
  }
}
.watch-title{
    margin: 10px auto 35px auto;
    border-bottom: 1px solid black;
    position: relative;
    max-width: 900px;

    padding-bottom: 15px;
  h1{
    font-size:24px;
    font-weight: bold;
    text-transform:uppercase;

  }
  p{

  }
  .watch-title-logo{
    padding-right:0 !important;
        position: absolute;
    bottom: -1px;
    right: 0;
  }
}

.watch-next-thumb{
      margin-left: 40px;
    margin-bottom: 40px;
    width: 240px;
    height: 156px;
    background-size: cover;
    background-repeat: no-repeat;
}
.watch-more{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 179px;
    width: 245px;
}
.watch-title-content{
  padding-left:0;
      max-width: 900px;

}