
@import 'bootstrap';
@import 'bootstrap-overrides';

html{
  height:100%;
}
body {
	padding-top:70px;
    height:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



@import 'navigation';
.content{
    position: relative;
  padding:14px;
    min-height: 100%;

.copy-headings{
    position: absolute;
        bottom:5%;
    min-width: 98%;
  .title{
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
  }
  .subtitle{
    font-size: 12px;
    margin-top: 7px;
    text-transform: capitalize;
  }
  .title-line{
    border-color: #000;
        margin-bottom: 9px;
    margin-top: 13px;
  }
  .watch-link{
    text-transform:uppercase;
    color:#000;
    font-size:10px;
    font-weight:bold;
  }
}
  }
.viewport{
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
          position: relative;
    top: 30px;

}
@media (max-width: 992px) {
  .viewport{
    .content{
      padding-top:0.1px;
    }
}
}