{% extends "base.html" %}
{% block page-class %}watch{% endblock %}
{% block content %}
    <div class="row  row-full-override">
        <div class="col-md-12 viewport vimeo-img" style="background-image: url({{ watch.poster_image.url }});">

            <div class="play-btn"></div>
        </div>

    </div>


    <div class="row watch-title">
        <div class="col-md-10 watch-title-content" style="">

            <h1>{{ watch.title }}</h1>
            <p class="subtitle">{{ watch.subtitle }}</p>
            <p class="subtitle">{{ watch.credits }}</p>
            <p class="subtitle">{{ watch.detail }}</p>


        </div>
        <div class="col-md-2 pull-right watch-title-logo">
            <div class="watch-logo-container pull-right">
                <span class="watch-date">{{ watch.date|date:"d.m.Y" }}</span>
                <hr class="watch-date-line"/>
                <img src="/static/imgs/icons/watch-icon.svg"/>
            </div>
        </div>

    </div>

    <div class="row watch-copy">
        <div class="col-sm-12 watch-copy-body" style="">
            {% autoescape off %}{{ watch.description }}{% endautoescape %}
        </div>
    </div>
    <div class="row watch-title">
        <div class="col-sm-12 watch-copy-body text-center" style="text-transform:uppercase"><h5>watch more</h5></div>
    </div>
    <div class="row watch-copy">
        <div class="col-sm-12 watch-copy-body" style="">

                {% for more in watch_more %}
                    {% if more.poster_image %}
                    {% if forloop.first %}
                        <a href="{{ more.get_url }}">
                            <div class="col-sm-3 watch-next-thumb"
                                 style="background-image: url({{ more.poster_image.url }});"></div>
                        </a>

                    {% else %}


                    <a href="{{ more.get_url }}">
                        <div class="col-sm-3 watch-next-thumb"
                             style="background-image: url({{ more.poster_image.url }});"></div>
                    </a>

                    {% if forloop.last %}

                    {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %}


        </div>

    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        {% if watch.vimeo_id %}
        WatchController.initVideo({{ watch.vimeo_id }});
        {% elif watch.youtube_embed %}
            WatchController.initYoutube({{ watch.youtube_embed }});
        {% endif %}
    </script>
{% endblock %}