{% extends "base.html" %}
{% block page-class %}home{% endblock %}
{% block page-title %}about{% endblock %}
{% block no-header %}show-header{% endblock %}
{% block content %}
<div class="page-body-content">
    <div class="row form-wrapper dais-width">
        <div class="col-md-6 watch-title">

            <p><strong>DAIS</strong> is a media company dedicated to developing, producing and distributing creative projects. We operate a safe, creative, and collaborative townhouse in downtown Toronto, equipped with production facilities, innovative work space, a music studio and a gallery. We put artists and the creative process first because the stories we tell shape our world. Our business partnership with Bell Media allows <strong>DAIS</strong> to broadcast our projects across a multitude of networks and platforms in Canada, while seeking out global partners.</p>

            <div class="about-well-footer">
                <hr>
                <label>connect with us</label> <span>@daiscreates</span>
                <div class="social-share">
                    <ul>
                        <li>
                            instagram
                        </li>
                        <li>
                            facebook
                        </li>
                        <li>
                            twitter
                        </li>
                        <li>
                            youtube
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-wrapper">
                        <form class="form-horizontal" method="post" action="#">

                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Name</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="Enter your Name"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Email</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control" name="email" id="email"
                                           placeholder="Enter your Email"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="comment" class="cols-sm-2 control-label">Comment</label>
                                <div class="cols-sm-10">

                                    <textarea cols="10" rows="10" class="form-control" name="comment" id="comment"
                                              placeholder="Enter your Comment"></textarea>

                                </div>
                            </div>


                            <a type="button" class="btn btn-lg btn-block submit-button">submit</a>


                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock content %}