{% extends "base.html" %}
{% block page-class %}watch{% endblock %}
{% block content %}
    <div class="row ">
        <div class="col-md-12 viewport" style="background-image: url(/static/test_resources/look_1.png);">
            <div class="content">


            </div>

        </div>


    </div>


     <div class="row ">
        <div class="col-md-12" style="">

        </div>

    </div>
    <hr>
    <div class="row ">
        <div class="col-md-12" style="">

        </div>

    </div>
{% endblock content %}