{% extends "base.html" %}
{% load site_filters %}
{% block page-class %}look-page{% endblock %}
{% block content %}

    <div class="row">

        <div class="{% cycle "col-md-12 viewport" "col-sm-6 viewport-half" "col-sm-6 viewport-half" %} {{ post.category }}"
             style="background-image: url({{ look.poster_image.url }});">
            <div class="content">
                <div class="copy-headings look-headings">
                    <div class="title">{{ look.title }}</div>
                    <div class="subtitle">{{ look.subtitle }}</div>
{#                    <span class="watch-date">{{ look.date|date:"d.m.Y" }}</span>#}
                    <div class="pull-right watch-title-logo look-category">
                                <div class="watch-logo-container pull-right">
                                    <span class="watch-date">{{ look.date|date:"d.m.Y" }}</span>
                                    <hr class="watch-date-line"/>
                                    <img src="/static/imgs/icons/{{ look.category }}-icon.svg"/>
                                </div>
                            </div>
                </div>
            </div>

        </div>

    </div>

    {% for post in look.lookimage_set.all %}

        {% if post and post.image %}
            {% row_counter as row_count %}
            {% cycle '<div class="row ">' '<div class="row ">' '' %}





            <a href="{{ post.get_url }}">
            {% if row_count == 2 and forloop.last == True %}
                    <div class="col-md-12 viewport {{ post.category }}"

                {% else %}
                    <div
                    class="{% cycle "col-md-12 viewport" "col-sm-6 viewport-half" "col-sm-6 viewport-half" %} {{ post.category }}"

                {% endif %}

                     style="background-image: url({{ post.image.url }});">


                </div>
            </a>




            {% cycle "</div>" "" "</div>" %}
            {% ifequal row_count 2 %}
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endifequal %}
        {% endif %}


    {% endfor %}
{% if look_more %}
    <div class="row watch-title">
        <div class="col-sm-12 watch-copy-body text-center" style="text-transform:uppercase"><h5>look more</h5></div>
    </div>
    <div class="row watch-copy">
        <div class="col-sm-12 watch-copy-body" style="">

                {% for more in look_more %}
                    {% if forloop.first %}
                        <a href="{{ more.get_url }}">
                            <div class="col-sm-3 watch-next-thumb"
                                 style="background-image: url({{ more.poster_image.url }});"></div>
                        </a>

                    {% else %}


                    <a href="{{ more.get_url }}">
                        <div class="col-sm-3 watch-next-thumb"
                             style="background-image: url({{ more.poster_image.url }});"></div>
                    </a>

                    {% if forloop.last %}

                    {% endif %}
                    {% endif %}
                {% endfor %}


        </div>

    </div>
    {% endif %}








{% endblock content %}