{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>DAIS</title>
    {% render_bundle 'main' 'css' %}
    {% block page_css %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>

<body class="{% block page-class %}{% endblock %}">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="dais-logo-wrapper">
        <a href="/"><img class="dais-logo" src="/static/imgs/dais_logo.svg"/></a>
    </div>
    <div class="navbar-header">

        <div class="navbar-block">

            <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="navbar-collapse collapse in">
        <ul class="nav navbar-nav subnav">
            <li><a href="http://www.iheartradio.ca/dais" target="_blank">Radio</a></li>
{#            <li><a href="/music">Music</a></li>#}
            <li><a href="/events">Calendar</a></li>
            <li><a href="/about">About</a></li>
{#            <li><a href="/team">Team</a></li>#}
            {% block nav-filters %}{% endblock %}
            <li class="pull-right">
                <div class="page-filters--right">
                    <div class="btn-group">
                        <span type="button" class="btn btn-primary">@daiscreates</span>
                        <a href="http://instagram.com/daiscreates" target="_blank" type="button" class="btn btn-primary">INSTAGRAM</a>
                        <a href="http://twitter.com/daiscreates" target="_blank" type="button" class="btn btn-primary">TWITTER</a>
                        <a href="http://facebook.com/daiscreates" target="_blank" type="button" class="btn btn-primary">FACEBOOK</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid header-wrap {% block no-header %}no-header{% endblock %}">
    <div class="page-header text-center">
        <h1>{% block page-title %}{% endblock %}</h1>
        <hr class="hr-bold"/>

    </div>
</div>
<div class="container-fluid">


    <!-- Example row of columns -->
    {% block content %}{% endblock content %}
    <hr>
<div class="footer-wrapper">
    <footer>
        <div class="row">
            <div class="col-md-12">


                <div id="search-input">
                    <div class="input-group">
<div class="dais-logo-sm"><img src="/static/imgs/dais-logo-sm.png"/></div>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        <input type="text" class="form-control input-lg" placeholder="Search"/>
                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="social-share footer-share">
                    <ul>
                        <li>
                            @daiscreates
                        </li>
                        <li>
                        <a href="http://twitter.com/daiscreates" target="_blank" type="button" >TWITTER</a>

                        </li>
                        <li>
                            <a href="http://instagram.com/daiscreates" target="_blank" >INSTAGRAM</a>

                        </li>
                        <li>
                        <a href="http://facebook.com/daiscreates" target="_blank" >FACEBOOK</a>

                        </li>


                    </ul>
                </div>
            </div>
{#            <div class="col-sm-6 pull-right right-footer-nav">#}
{#                <div class="social-share footer-share">#}
{#                    <ul>#}
{#                        <li>#}
{#                            privacy#}
{#                        </li>#}
{#                        <li>#}
{#                            terms & conditions#}
{#                        </li>#}
{#                        <li>#}
{#                            dais creative inc.#}
{#                        </li>#}
{#                        <li>#}
{#                            copyright 2018#}
{#                        </li>#}
{##}
{##}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>

    </footer>
</div>
</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
{% render_bundle 'main' 'js' %}

{% block extra_js %}{% endblock %}
</body>
</html>


