{% extends "base.html" %}
{% block page-class %}watch{% endblock %}
{% block content %}
    <div class="row listen">
        <div class="col-md-6 viewport-listen" style="background-image: url(/static/test_resources/album-cover.jpg);">
            <div class="content">


            </div>

        </div>
        <div class="col-md-6">
            <div class="content">
                <div class="row watch-title">
                    <div class="col-md-10 watch-title-content" style="">

                        <h1>r.e.d</h1>
                        <p class="subtitle">A Tribe Called Red featuring Yasiin Bey & Narcy</p>
                        <p class="subtitle">Directed by Sol G and the Hallucination</p>
                        <p class="subtitle">Shot in South Africa</p>


                    </div>
                    <div class="col-md-2 pull-right watch-title-logo">
                        <div class="watch-logo-container pull-right">
                            <span class="watch-date">01.09.2016</span>
                            <hr class="watch-date-line"/>
                            <img src="/static/imgs/icons/listen-icon.png"/>
                        </div>
                    </div>

                </div>
                <div class="row watch-copy">
                    <div class="col-md-12" style="">
                        <p>Lorem ipsum dolor sit amet, vel mundi fabulas ea, nec ea putant fuisset. Tale omnis elitr ad
                            pri, in amet meis vel, enim harum dicunt
                            et mei.In modo blandit ius, hinc timeam per ea. Ea maiorum invenire dignissim sea. Liber
                            erant probatus at ius, id quo melius virtute,
                            ex movet nominavi euripidis vim.</p>

                        <p>Pri at oratio ceteros torquatos. Cu pri summo putent. Novum nihil mel ei, pri odio dissentias
                            et, pro euismod vivendo no. Ipsum
                            dicant rationibus ex eos, cum et decore omittam tractatos, at mei phaedrum maluisset
                            contentiones. Omnes consequuntur at qui,
                            detracto consectetuer usu cu, oratio pertinacia scribentur ut eam.</p>
                    </div>


                </div>
            </div>

        </div>

    </div>


    <div class="row ">
        <div class="col-md-12" style="">

        </div>

    </div>
    <hr>
    <div class="row ">
        <div class="col-md-12" style="">

        </div>

    </div>
{% endblock content %}