{% extends "base.html" %}
{% block page-class %}home{% endblock %}
{% block page-title %}music{% endblock %}
{% block no-header %}show-header{% endblock %}



{% block content %}
   <div id="post-list-display">
<ul class="post-list-display">
    {% for post in post_list %}


        {% if post %}


            <li class="view-toggle {{ post.category }}">
                        <a href="{{ post.get_url }}">

                    <div class="col-md-12 viewport " style="background-image: url({{ post.poster_image.url }});">
                    <div class="content">
                        <div class="copy-headings">
                            <div class="title">{{ post.artist_name }}</div>
                            <div class="subtitle"></div>
                            <div class="pull-right watch-title-logo home-category">
                                <div class="watch-logo-container pull-right">
                                    <span class="watch-date">{{ post.date|date:"d.m.Y" }}</span>
                                    <hr class="watch-date-line"/>
                                    <img src="/static/imgs/icons/listen-icon.svg"/>
                                </div>
                            </div>
                            <hr class="title-line"/>
                            <span class="btn-link watch-link">VIEW ARTIST</span>
                        </div>
                    </div>
                    <div class="copy-drawer"></div>
                </div>
            </a>
            </li>

        {% endif %}


    {% endfor %}
</ul>
</div>
{% endblock content %}